* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
    font-family: 'Roboto', 'Times New Roman', Times, serif;
    list-style: none;
}

body {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.sidebar {
    grid-column: 1;
    grid-row: 1 / 3;
    display: grid;
    grid-template-columns: 1fr 4fr;
    padding: 15px;
    background-color: #2dd4bf;
    color: white;
    z-index: 2;

    
    /* position: relative;
    min-width: 230px; */
}

.icons {
    display: grid;
    grid-auto-rows: 40px;
    justify-content: center;
    justify-items: center;
    align-items: center;

    /* position: fixed; */
} 

.text {
    display: grid;
    grid-auto-rows: 40px;
    font-size: 1.15rem;
    font-weight: 600;
    align-items: center;
    padding-left: 10px;

    /* position: fixed;
    left: 62.5px;  */
}

.header {
    grid-column: 2 / 3;
    grid-row: 1;
    padding: 7.5px 40px 0 40px;
    z-index: 1;
    box-shadow: -5px 4px 8px rgb(208, 205, 205), 5px 4px 8px rgb(208, 205, 205);
}

.header-top {
    display: grid;
    gap: 0 20px; 
    grid-template-columns: 5fr 1fr;
    justify-content: space-between;
    padding-bottom: 15px;
}

.search-section {
    grid-column: 1 / 2;
    display: grid;
    grid-template-columns: 1fr 30fr;
    justify-content: center;
    align-items: center;
}

input[type='search'] {
    border: 0px;
    background-color: #c9e9e1;
    border-radius: 15px;
    height: 30px;
    padding: 0 12px;
    font-size: 1rem;
    font-weight: 500;
    width: min(100%, 600px);
}

input[type='search']:focus {
    background-color: #b4e5d9;
}

.account-section {
    /* border: 1px solid red; */

    grid-column: 2 / 3;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 115px;
    justify-content: center;
    align-items: center;
}

.account-section > p {
    font-size: 1.15rem;
    font-weight: 700;
}

.account-section > div {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-image: url(Images/Icons/profile-pic-test.jpg);
    background-position: center;
    background-size: cover;
}

.header-bottom {
    display: grid;
    gap: 15px;
    grid-template-columns: 4fr 1fr;
    justify-content: space-between;
    align-content: center;
    padding-bottom: 15px;
}

.profile-section {
    display: grid;
    grid-template-columns: 1fr 10fr;
    align-items: center;
    row-gap: 2.5px;
    column-gap: 10px;
}

.profile-section > div:nth-child(1) {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-image: url(Images/Icons/profile-pic-test.jpg);
    background-position: center;
    background-size: cover;
}

.profile-section > div:nth-child(2) {
    align-self: center;
}

.profile-section > div > p:nth-child(1) {
    font-size: 0.85rem;
    font-weight: 1000;
    min-width: 145px;
} 

.profile-section > div > p:nth-child(2) {
    font-size: 1.35rem;
    font-weight: 1000;
    min-width: 145px;
} 

.buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: end;
    gap: 25px;
}

.buttons > button {
    font-size: 1.15rem;
    font-weight: 900;
    height: 35px;
    width: 87.5px;
    border-radius: 18px;
    border: 0px;
    background-color: #2dd4bf;
    color: white;
}

.main-content {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: rgb(236, 230, 230);
    padding: 30px 40px 20px 20px;
    display: grid;
    column-gap: 30px;
    row-gap: 15px;
    grid-template-columns: 3.25fr 1fr;
}

.cards-section {
    display: grid;
    row-gap: 10px;
}

.projects-title {
    font-size: 1.15rem;
    font-weight: 800;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.projects-section {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.side-section {
    display: grid;
    row-gap: 10px;
    align-content: start;
}

.announcments-title {
    font-size: 1.15rem;
    font-weight: 800;
}

.announcments-card {
    padding: 15px 25px;
    height: 350px;
    min-width: 250px;
    font-size: 0.8rem;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    align-content: center;
    background-color: white;
    color: rgb(110, 110, 110);
    box-shadow: 5px 5px 4px rgb(208, 205, 205);
    border-radius: 8px;
}

.announcments-card > div {
    align-self: center;
}

.announcments-card > div:nth-child(2) {
    border-top: 1px solid rgb(110, 110, 110);
    border-bottom: 1px solid rgb(110, 110, 110);
    padding: 9.5px 0;
    margin: 9.5px 0;
}

.announcments-card > div > p:nth-child(1) {
    font-size: 0.85rem;
    font-weight: 700;
    color: rgb(0, 0, 0);
}

.announcments-card > div > p:nth-child(2) {
    overflow: auto;
}

.trending-title {
    font-size: 1.15rem;
    font-weight: 800;
    margin-top: 35px;
}

.trending-card {
    height: 230px;
    min-width: 250px;
    display: grid;
    padding: 12.5px 25px;
    background-color: white;
    color: rgb(110, 110, 110);
    box-shadow: 5px 5px 4px rgb(208, 205, 205);
    border-radius: 8px;
}

.trending-account {
    display: grid;
    grid-template-columns: 45px 2fr;
    column-gap: 10px;
    font-size: 0.9rem;
    align-items: center;
}

.trending-account > div:nth-child(1) {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-image: url(Images/Icons/profile-pic-test.jpg);
    background-position: center;
    background-size: cover;
}

.trending-account > div:nth-child(2) > p:nth-child(1) {
    font-weight: 800;
    color: black;
}

.card {
    border: 1px solid black;
    height: 200px;
    padding: 20px 20px;
    border-radius: 8px;
    border-left: 8px solid #f6c470;
    border-right: none;
    border-top: none;
    border-bottom: none;
    font-size: 0.95rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    color: rgb(110, 110, 110);
    box-shadow: 5px 5px 4px rgb(208, 205, 205);
}

.card-text > p:nth-child(1) {
    font-size: 1.15rem;
    font-weight: 900;
    color: black;
}

.card-icons {
    align-self: end;
    display: flex;
    gap: 25px;
}
