* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
    font-family: 'Roboto', 'Times New Roman', Times, serif;
    list-style: none;
}

body {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.main-content {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.sidebar {
    grid-column: 1;
    grid-row: 1 / 3;
    display: grid;
    grid-template-columns: 1fr 4fr;
    padding: 15px;
    background: #2dd4bf;
    color: white;
}

.icons {
    display: grid;
    grid-auto-rows: 40px;
    justify-content: center;
    justify-items: center;
    align-items: center;
} 

.text {
    display: grid;
    grid-auto-rows: 40px;
    font-size: 1.15rem;
    font-weight: 600;
    align-items: center;
    padding-left: 10px;
}

.header {
    grid-column: 2 / 3;
    grid-row: 1;
    padding: 15px;
}

.header > div {
    border: 1px solid black
}

.main-content {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: #f0fdfa;
}
